<table>
    <tr>
        <td>
            {% if user.avatar %}
            <img src="{{ url_for('static', filename=user.avatar) }}" alt="User Avatar" style="width: 44px; height: 44px;">
            {% else %}
            <img src="data:image/png;base64,{{ user.gen_avatar(size=36, write_png=False) }}" style="width: 44px; height: 44px;">
            {% endif %}
        </td>
        <td>
            <h1>{{ user.username }}</h1>
            {% if user.email %}<p>{{ user.email }}</p>{% endif %}
        </td>
    </tr>
</table>