{% extends "base.html" %}

{% block content %}
    {% include "_user.html" %}
    <hr>
    {% if user.profile %}
    <table>
        <tr valign="top">
            {% if user.profile.dob %}
            <td><strong>Date of birth</strong> </td>
            <td>: {{ user.profile.dob }}</td>
            {% endif %}
        </tr>
        <tr valign="top">
            {% if user.profile.gender %}
            <td><strong>Gender</strong> </td>
            <td>: {{ user.profile.gender }}</td>
            {% endif %}
        </tr>
        <tr valign="top">
            {% if user.profile.address %}
            <td><strong>Address</strong> </td>
            <td>: {{ user.profile.address }}</td>
            {% endif %}
        </tr>
        <tr valign="top">
            {% if user.profile.state %}
            <td><strong>State</strong> </td>
            <td>: {{ user.profile.state }}</td>
            {% endif %}
        </tr>
        <tr valign="top">
            {% if user.profile.zip_code %}
            <td><strong>Zip code</strong> </td>
            <td>: {{ user.profile.zip_code }}</td>
            {% endif %}
        </tr>
        <tr valign="top">
            {% if user.profile.blood_group %}
            <td><strong>Blood group</strong> </td>
            <td>: {{ user.profile.blood_group.value }}</td>
            {% endif %}
        </tr>
    </table>
    {% else %}
    <p>You don't have a profile yet!</p>
    {% endif %}
{% endblock %}